{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block body %}

    <div class="container">
        <div>
            <h1>Create New Task</h1>
        </div>

        <div class="row">
            <div class="alert alert-danger">
                {% if errors %}
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            
            <form class="col s12" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <input id="title" name="title" type="text" value="{{task.title}}">
                        <label for="first_name">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="date" type="date" class="datepicker" name="date" value="{{task.date}}">
                        <label for="date">Date</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <p>
                            <label>
                                <input class="with-gap" name="done" type="radio" value="true"/>
                                <span>Done</span>
                            </label>
                            <label>
                                <input class="with-gap" name="done" type="radio" value="false"/>
                                <span>To Do</span>
                            </label>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="btn waves-effect waves">Save
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

